body {
  font-family: 'Montserrat', sans-serif;
  background-color: #1e1e1e;
  color: #ffffff;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #3498db, #9b59b6, #e74c3c, #f39c12);
  background-size: 400% 400%;
  animation: gradientAnimation 15s infinite linear;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#main-heading {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
  cursor: pointer;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, text-shadow 0.3s ease, color 0.3s ease;
}

#main-heading:hover {
  transform: scale(1.1);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
  max-width: 400px; /* Set a maximum width for better responsiveness */
}

#todo-input,
#todo-date,
.btn-delete,
.btn-todo {
  font-size: 16px;
  padding: 12px;
  border: 2px solid #ffffff;
  border-radius: 8px;
  margin: 0;
  width: 100%;
  box-sizing: border-box; /* Include padding and border in the width calculation */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.btn-todo {
  background-color: #3498db;
  color: #ffffff;
}

.btn-delete {
  background-color: #e74c3c;
  color: #ffffff;
}

#todo-input::placeholder,
#todo-date::placeholder {
  color: #000000;
}

#todo-input:focus,
#todo-date:focus {
  outline: none;
  border-color: #45a049;
  animation: shake 0.5s;
}

.color-ribbon {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #3498db;
  transform-origin: 0% 50%;
  transition: transform 0.5s ease-out;
}

#todo-input:focus .color-ribbon,
#todo-date:focus .color-ribbon {
  animation: rotateRibbon 2s infinite linear;
}

@keyframes rotateRibbon {
  to {
    transform: rotate(360deg);
  }
}

.btn-delete:hover,
.btn-todo:hover,
#todo-input:hover,
#todo-date:hover {
  background-color: #f2f2f2;
  color: #333333;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25%, 75% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
}

.btn-todo:active,
.btn-delete:active {
  transform: scale(0.95);
}
